# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/

# IDEs
.idea/
.vscode/

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Documentation (no se necesita en la imagen)
docs/
README.md

# Logs
logs/
*.log

# Node
node_modules/